html, body {
    height: 100%;
    color: white;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
    background: -webkit-gradient(linear, 100% 100%,20% 100%, from(#6F69AC), to(#EB92BE));
    color: white;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
    color: white;

}

img {
    max-width: 100%;
    color: white;

}

/* Homepage */

.intro {
    transform: translateY(22vh);
    color: white;
}

.intro > h1 {
    color: #212121;
    font-size: 12vh;
    color: white;
}

.intro > h2 {
    color: #757575;
    font-size: 5vmin;
    color: white;
}

/* Page content */

.content {
    padding-top: 20px;
    color: white;
    text-align: left
}

/* Profile picture */

.profile {
    /* width: 10vh; */
    height: 15vh;
    color: white;
/*     border-radius: 50%; */
}

/* Colored links */

a:link, a:visited {
    color: var(--accent);
    color: white;
}

a.icon:hover {
    text-decoration: none;
    color: white;
}

a:hover {
    color: var(--accent) !important;
    color: white;
}

/* Copyright message */

.copyright {
    margin: 15px 0;
    color: white;

}

/* Paginator */

.pages {
    padding: 15px 0;
    color: white;
}

.pages-icon {
    padding: 0 15px;
    color: white;
}

/* List item for posts/projects */

.item {
    padding: 10px 0;
    color: white;
}

.item-tag {
    background-color: var(--accent);
    color: white;
}

/* Navigation icons */

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
    color: white;
}

/* Colored borders at top/bottom of page */

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
    color: white;
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
    color: white;
}

.footer{
    color: white:;
}
